<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Auswertung</display-name>
    <servlet-name>Auswertung</servlet-name>
    <servlet-class>de.nvbw.produktmanagement.website.Auswertung</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auswertung</servlet-name>
    <url-pattern>/Auswertung</url-pattern>
  </servlet-mapping>
  <display-name>BFRK_API</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>taxistand</servlet-name>
    <servlet-class>taxistand</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toilette</servlet-name>
    <servlet-class>toilette</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bahnsteig</servlet-name>
    <servlet-class>bahnsteig</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>importdateien</servlet-name>
    <servlet-class>importdateien</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>rolltreppe</servlet-name>
    <servlet-class>rolltreppe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>haltestelle</servlet-name>
    <servlet-class>haltestelle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kartenautomat</servlet-name>
    <servlet-class>kartenautomat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gleisquerung</servlet-name>
    <servlet-class>gleisquerung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>haltesteig</servlet-name>
    <servlet-class>haltesteig</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>leihradanlage</servlet-name>
    <servlet-class>leihradanlage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verkaufsstelle</servlet-name>
    <servlet-class>verkaufsstelle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fahrradanlage</servlet-name>
    <servlet-class>fahrradanlage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>haltestellenobjektart</servlet-name>
    <servlet-class>haltestellenobjektart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>weg</servlet-name>
    <servlet-class>weg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>aufzug_livestatus</servlet-name>
    <servlet-class>aufzug_livestatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gemeinde</servlet-name>
    <servlet-class>gemeinde</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>notiz</servlet-name>
    <servlet-class>notiz</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>treppe</servlet-name>
    <servlet-class>treppe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>rampe</servlet-name>
    <servlet-class>rampe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>stationsplan</servlet-name>
    <servlet-class>stationsplan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kreise</servlet-name>
    <servlet-class>kreise</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>parkplatz</servlet-name>
    <servlet-class>parkplatz</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>suche</servlet-name>
    <servlet-class>suche</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>engstelle</servlet-name>
    <servlet-class>engstelle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>informationsstelle</servlet-name>
    <servlet-class>informationsstelle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tuer</servlet-name>
    <servlet-class>tuer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>aufzug</servlet-name>
    <servlet-class>aufzug</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taxistand</servlet-name>
    <url-pattern>/taxistand/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toilette</servlet-name>
    <url-pattern>/toilette/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bahnsteig</servlet-name>
    <url-pattern>/bahnsteig/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>importdateien</servlet-name>
    <url-pattern>/importdateien</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rolltreppe</servlet-name>
    <url-pattern>/rolltreppe/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>haltestelle</servlet-name>
    <url-pattern>/haltestelle/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kartenautomat</servlet-name>
    <url-pattern>/kartenautomat/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gleisquerung</servlet-name>
    <url-pattern>/gleisquerung/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>haltesteig</servlet-name>
    <url-pattern>/haltesteig/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>leihradanlage</servlet-name>
    <url-pattern>/leihradanlage/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verkaufsstelle</servlet-name>
    <url-pattern>/verkaufsstelle/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fahrradanlage</servlet-name>
    <url-pattern>/fahrradanlage/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>haltestellenobjektart</servlet-name>
    <url-pattern>/haltestellenobjektart/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>weg</servlet-name>
    <url-pattern>/weg/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>aufzug_livestatus</servlet-name>
    <url-pattern>/aufzug_livestatus/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gemeinde</servlet-name>
    <url-pattern>/gemeinde/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>notiz</servlet-name>
    <url-pattern>/notiz/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>treppe</servlet-name>
    <url-pattern>/treppe/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rampe</servlet-name>
    <url-pattern>/rampe/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stationsplan</servlet-name>
    <url-pattern>/stationsplan/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kreise</servlet-name>
    <url-pattern>/kreise/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>parkplatz</servlet-name>
    <url-pattern>/parkplatz/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>suche</servlet-name>
    <url-pattern>/suche/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>engstelle</servlet-name>
    <url-pattern>/engstelle/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>informationsstelle</servlet-name>
    <url-pattern>/informationsstelle/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tuer</servlet-name>
    <url-pattern>/tuer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>aufzug</servlet-name>
    <url-pattern>/aufzug/*</url-pattern>
  </servlet-mapping>
</web-app>